
<h3 class="mt-0 p-2 text-white border-top border-dark w-100 bg-secondary">PDF FILE EXPECTED</h3>

<div>
  <input #fileInput type="file" ng2FileSelect [uploader]="uploader"/>

  <div class="drop-box" ng2FileDrop
       [ngClass]="{'dragover': isDropOver}"
       [uploader]="uploader"
       (fileOver)="fileOverAnother($event)"
       (click)="fileClicked()">
    <span class="drag-in-title">Import or drag file here</span>
    <span class="drag-over-title">Drop the file</span>
  </div>
</div>



<div *ngIf="hasUploaded">
    <div *ngFor="let item of uploader.queue">
        <h5>{{ item?.file?.name }} has been uploaded successfully!</h5>
    </div>
</div>
