<h3 class="mt-0 p-2 text-white border-top border-dark w-100 bg-secondary">EDIT MOCK</h3>
<div class="m-3 row">
    <div class="col-sm-1 col-md-2">
    </div>
    <div class="col col-centered">
        <form [formGroup]="editForm" (ngSubmit)="onUpdate()" novalidate>
              <div *ngIf="validMessage != ''">
                <h3 class="has-info">{{validMessage}}</h3>
              </div>

              <!-- HEADER BUTTONS -->
              <div class="form-row mb-4 mt-3">
                <div class="col-9"></div>
                <div class="col">

                  <div class="btn-group">
                    <button class="btn btn-outline-success text-center mr-3 my-auto"
                            style="width:140px" value="Post" type="submit" [disabled]="!editForm.valid"> Save
                    </button>
                    <button class="btn btn-outline-success text-center mr-3 my-auto"
                            style="width:140px" type="button" [routerLink]="['/mocks']">Cancel
                    </button>
                    <button class="btn btn-outline-success text-center mr-3 my-auto"
                            style="width:140px" value="Post" type="button" title="Delete this mock" (click)="onDelete()"> Delete
                    </button>
                    <button class="btn btn-outline-success text-center mr-3 my-auto"
                            style="width:140px" type="button" title="Change to alumni" (click)="onConvertToAlumni()"> To Alumni
                    </button>
                  </div>
                  </div>
                </div>
              <hr>

            <div class="row pb-3">
                <div class="col">

                  <label for="currentJob">Current Job: </label>
                    <div class="form-row mb-2">
                       <input type="text" value="" class="form-control" formControlName="currentJob" />
                    </div>
                  <label for="desiredJob">Desired Job: </label>
                    <div class="form-row mb-2">
                       <input type="text" value="" class="form-control" formControlName="desiredJob" />
                    </div>
                  <label for="projectAssigned">Project Assigned:</label>
                    <div class="form-row mb-2">
                       <input type="text" value="" class="form-control" formControlName="projectAssigned" />
                    </div>
                  <label for="aTrainingClassName">Class Taken:</label>
                    <div class="form-row mb-2">
                       <input type="text" value="" class="form-control" formControlName="aTrainingClassName" readonly="true"/>
                    </div>


                </div>
                <div class="col">
                    <label for="interviewDate">Interview Date: </label>
                    <div class="form-row mb-2">
                       <input type="text" formControlName="interviewDate">
                    </div>
                </div>
            </div>

            <hr>
             <!-- BASIC INFO -->
            <label class="mt-2" >Full Name</label>
            <div class="row mb-2">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Name"
                  formControlName="name" value="" readonly="true"/>
                </div>
            </div>

            <label class="mt-2" >Contacts</label>
            <div class="row">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Email Address"
                  formControlName="email" value="">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Phone Number"
                  formControlName="phone" value="">
                </div>
             </div>

            <div class="mt-3 form-group">
                <label for="address">Address: </label>
                <textarea placeholder="" class="form-control" formControlName="address"></textarea>
            </div>

            <div class="mt-3 form-group">
                <label>Project Performance:</label>
                <textarea placeholder="" class="form-control" formControlName="performance"></textarea>
            </div>


<!-- <form [formGroup]="editForm" (ngSubmit)="onUpdate()" novalidate>
  <div *ngIf="validMessage != ''">
    <h3 class="has-info">{{ validMessage }}</h3>
  </div>


  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" value="" class="form-control" formControlName="name" readonly="true"/>
  </div>


  <div class="form-group">
    <label for="phone">Phone:</label>
    <input type="text" value="" class="form-control" formControlName="phone" readonly="true"/>
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" value="" class="form-control" formControlName="email" readonly="true"/>
  </div>

  <div class="form-group">
    <label for="address">Address: </label>
    <textarea placeholder="" class="form-control" formControlName="address" readonly="true"></textarea>
  </div>

   <div class="form-group">
    <label for="currentJob">Current Job: </label>
    <input type="text" value="" class="form-control" formControlName="currentJob" readonly="true"/>
  </div>

  <div class="form-group">
    <label for="desiredJob">Desired Job: </label>
    <input type="text" value="" class="form-control" formControlName="desiredJob" readonly="true">
  </div>

   <div class="form-group">
    <label for="aTrainingClassName">Class Taken: </label>
    <input type="text" value="" class="form-control" formControlName="aTrainingClassName" readonly="true">
  </div>

   <div class="form-group">
    <label for="projectAssigned">Assigned Project: </label>
    <input type="text" value="" class="form-control" formControlName="projectAssigned" readonly="true">
  </div>


  <div class="form-group">
    <label>Project Performance:</label>
    <textarea placeholder="" class="form-control" formControlName="performance" readonly="true"></textarea>
  </div>

  <div class="form-group">
    <label for="interviewDate">Interview Date: </label>
    <input type="text" formControlName="interviewDate">
  </div>




  <div class="btn-group">
    <button
      type="submit"
      [disabled]="!editForm.valid"> Save
    </button>
    <button
        type="button"
        [routerLink]="['mocks']">Cancel
    </button>
    <button
        type="button"
        title="Delete this mock"
        (click)="onDelete()"> Delete
    </button>
    <button
        type="button"
        title="Change to alumni"
        (click)="onConvertToAlumni()"> To Alumni
    </button>
  </div> -->
