<table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let instructor of instructors">
      <td>{{instructor.id}}</td>
      <td>{{instructor.name}}</td>
      <td>{{instructor.email}}</td>
      <td>
          <fa-icon class="text-success"
                         icon="trash" (click)="onDelete(instructor.id)"></fa-icon></td>
    </tr>
    </tbody>
    <div class="btn-group">
        <button
            type="button"
            [routerLink]="['/addinstructor']">Add
        </button>
        <button
          type="button"
          (click)="cancel()"> Back
      </button>
    </div>
  </table>
