<!-- <div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">
          <i class="nav-icon cui-speedometer"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/adduser">
          <i class="nav-icon cui-speedometer"></i> New Employees
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user-list">
          <i class="nav-icon cui-speedometer"></i> Manage Employees
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signUpLead">
          <i class="nav-icon cui-speedometer"></i> New Lead
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/leads">
          <i class="nav-icon cui-speedometer"></i> Manage Leads
        </a>
      </li>
    </ul>
  </nav>
</div> -->
<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/">Home </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/adduser">New Employees </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user-list">Manage Employees </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/signUpLead">New Lead </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/leads">Manage Leads </a>
    </li>

  </ul>

