<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">
          <i class="nav-icon cui-speedometer"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signUpLead">
          <i class="nav-icon cui-speedometer"></i> New Lead
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/leads">
          <i class="nav-icon cui-speedometer"></i> Leads
        </a>
      </li>
    </ul>
  </nav>
  </div>
