<main>
<div class="container">
      <div class="row row-offcanvas row-offcanvas-right">

          <div class="col-sm-10">
              <h3 class="pt-2 text-left text-black">Welcome {{ username }}</h3>
                <mat-tab-group>

                  <mat-tab label="LEADS">
                    <app-get-leads></app-get-leads>
                  </mat-tab>

                  <mat-tab label="ALUMNUS">
                    <app-get-alumnus></app-get-alumnus>
                  </mat-tab>


              </mat-tab-group>
          </div>
          <div class="col-sm-2">
            <router-outlet name="sidemenu-sales"></router-outlet>
          </div>
      </div>
  </div>
</main>

