
<form [formGroup]="editForm" (ngSubmit)="onUpdate()" novalidate>
  <div *ngIf="validMessage != ''">
    <h3 class="has-info">{{ validMessage }}</h3>
  </div>

  <button class="btn btn-outline-success text-center mr-3 my-auto"
                            style="width:140px" value="Post" type="submit" [disabled]="!editForm.valid"> Save
  </button>
  <button class="btn btn-outline-success text-center mr-3 my-auto"
          style="width:140px" type="button" [routerLink]="['/admin']">Cancel
  </button>
  <button class="btn btn-outline-success text-center mr-3 my-auto"
          style="width:140px" value="Post" type="button" title="Delete this employee" (click)="onDelete()"> Delete
  </button>

   <div class="form-group">
    <label>Name:</label>
    <input type="text" value="" class="form-control" id="name" formControlName="name" />
  </div>

   <div class="form-group">
    <label>Username:</label>
    <input type="text" value="" class="form-control" id="username" formControlName="username" />
  </div>

  <div class="form-group">
    <label>Email:</label>
    <input type="text" value="" class="form-control" id="email" formControlName="email" />
  </div>

  <!-- <div formArrayName="positions"
  *ngFor="let position of formData.controls; let i = index;">
  <div [formGroupName]="i">
    <input formControlName="name" placeholder="Position">
  </div>

  Chosen position: {{ formData.controls[i].controls.name.value }}
</div> -->


<div class="checkbox-group" style="margin-top:40px">
  <div class="checkbox-wrap" id="postionsContainer">
    <h4>Select positions for the user:</h4>
      <div class="form-group" *ngFor="let position of positionArray;let i=index">
        <input [checked]="position == formData.controls[i]?.value"  type="checkbox" (change)="onChange($event.target.checked, position)"/>
        <label [for]="i"> {{ position }} </label>
      </div>
  </div>
</div>



<div class="form-group">
    <label for="status">Status:</label>
    <select formControlName="status" placeholder="status" name="status" class="form-control" id="status" >
            <option value="YES">YES</option>
            <option value="NO">NO</option>
  </select>
</div>

<div class="form-group">
    <label for="statusAsOfDay">Status As Of Day:</label>
    <input type="text" formControlName="statusAsOfDay" placeholder="statusAsOfDay" name="statusAsOfDay" class="form-control" id="statusAsOfDay" readonly="true">
</div>



</form>


<!-- <ng-template #loading>
  Loading job information
</ng-template> -->


