<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">
          <i class="nav-icon cui-speedometer"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/students">
          <i class="nav-icon cui-speedometer"></i> Students
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/interns">
          <i class="nav-icon cui-speedometer"></i> Interns
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/resumes">
          <i class="nav-icon cui-speedometer"></i> Resumes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/mocks">
          <i class="nav-icon cui-speedometer"></i> Mocks
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/alumnus">
          <i class="nav-icon cui-speedometer"></i> Alumnus
        </a>
      </li>

    </ul>
  </nav>
  </div>
