<div class="col-xs-6 col-lg-4">
  <h2>Employees</h2>
  <p>... </p>
  <p><a class="btn btn-secondary" [routerLink]="['/user-list']"  role="button">View & Edit »</a></p>
</div>
<div class="col-xs-6 col-lg-4">
  <h2>Leads</h2>
  <p>... </p>
  <p><a class="btn btn-secondary" [routerLink]="['/leads']"  role="button">View & Edit »</a></p>
</div>
<div class="col-xs-6 col-lg-4">
    <h2>Students</h2>
    <p>... </p>
    <p><a class="btn btn-secondary" [routerLink]="['/leads']"  role="button">View & Edit »</a></p>
  </div>
<div class="col-xs-6 col-lg-4">
      <h2>Academic</h2>
      <p>... </p>
      <p><a class="btn btn-secondary" [routerLink]="['/leads']"  role="button">View & Edit »</a></p>
</div>
