<div class="col-xs-6 col-lg-4">
  <h2>Employees</h2>
  <p>... </p>
  <p><a class="btn btn-secondary" [routerLink]="['/user-list']"  role="button">View & Edit »</a></p>
</div>
<div class="col-xs-6 col-lg-4">
  <h2>Leads</h2>
  <p>... </p>
  <p><a class="btn btn-secondary" [routerLink]="['/leads']"  role="button">View & Edit »</a></p>
</div>
<div class="col-xs-6 col-lg-4">
    <h2>Students</h2>
    <p>... </p>
    <p><a class="btn btn-secondary" [routerLink]="['/students']"  role="button">View & Edit »</a></p>
</div>
<div class="col-xs-6 col-lg-4">
  <h2>Interns</h2>
  <p>... </p>
  <p><a class="btn btn-secondary" [routerLink]="['/interns']"  role="button">View & Edit »</a></p>
</div>
<div class="col-xs-6 col-lg-4">
  <h2>Resumes</h2>
  <p>... </p>
  <p><a class="btn btn-secondary" [routerLink]="['/resumes']"  role="button">View & Edit »</a></p>
</div>
<div class="col-xs-6 col-lg-4">
  <h2>Mocks</h2>
  <p>... </p>
  <p><a class="btn btn-secondary" [routerLink]="['/mocks']"  role="button">View & Edit »</a></p>
</div>
<div class="col-xs-6 col-lg-4">
      <h2>Courses</h2>
      <p>... </p>
      <p><a class="btn btn-secondary" [routerLink]="['/courses']"  role="button">View & Edit »</a></p>
</div>
<div class="col-xs-6 col-lg-4">
    <h2>Instructors</h2>
    <p>... </p>
    <p><a class="btn btn-secondary" [routerLink]="['/instructors']"  role="button">View & Edit »</a></p>
</div>
<div class="col-xs-6 col-lg-4">
    <h2>Classes</h2>
    <p>... </p>
    <p><a class="btn btn-secondary" [routerLink]="['/classes']"  role="button">View & Edit »</a></p>
</div>
