<table class="table table-striped">
  <thead>
  <tr>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Phone</th>
    <th>E-mail</th>
    <th>Class Interested</th>
    <th>Created Time</th>
    <th>Modification Time</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let lead of leads">
    <td>{{lead.firstName}}</td>
    <td>{{lead.lastName}}</td>
    <td>{{lead.phone}}</td>
    <td>{{lead.email}}</td>
    <td>{{lead.aTrainingClassName}}</td>
    <td>{{lead.createdTime}}</td>
    <td>{{lead.modifiedTime}}</td>
    <div class="btn-group">
      <button class="btn btn-primary"
              style="width:100px;"
              type="button"
              [routerLink]="['/leads/view',lead.email]">Edit
      </button>
      <button class="btn btn-success"
              style="width:100px;"
              type="button"
              [routerLink]="['/client/sendPortalLink',lead.email]">Email
      </button>
    </div>
    <!-- <button class="btn btn-primary mr-3"
            style="width:80px;"
            type="button"
            [routerLink]="['/leads/view',lead.email]">Edit
    </button> -->
  </tr>
  </tbody>
</table>
