<!-- <table class="table table-striped">
  <thead>
  <tr>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Phone</th>
    <th>E-mail</th>
    <th>Class Interested</th>
    <th>Created Time</th>
    <th>Modification Time</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let lead of leads">
    <td>{{lead.firstName}}</td>
    <td>{{lead.lastName}}</td>
    <td>{{lead.phone}}</td>
    <td>{{lead.email}}</td>
    <td>{{lead.aTrainingClassName}}</td>
    <td>{{lead.createdTime}}</td>
    <td>{{lead.modifiedTime}}</td>
    <div class="btn-group">
      <button class="btn btn-primary"
              style="width:100px;"
              type="button"
              [routerLink]="['/leads/view',lead.email]">Edit
      </button>
      <button class="btn btn-success"
              style="width:100px;"
              type="button"
              [routerLink]="['/client/sendPortalLink',lead.email]">Email
      </button>
    </div>
  </tr>
  </tbody>
</table> -->
<h3 class="mt-0 mb-3 pl-3 pb-2 pt-2 text-white border-top border-dark w-100 bg-secondary">VIEW LEADS</h3>

<div class="container">
<div class="list-group mt-1 p-0" *ngFor="let lead of leads; let i = index">
  <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div style="height: 5%; background-color: rgba(187, 160, 160, 0.1);" class="p-1 my-auto d-flex justify-content-between">
            <h5 class="h-100 d-inline-block">{{lead.firstName}} {{lead.lastName}}</h5>
            <p class=""><b>Phone:  </b><small>{{lead.phone}}</small></p>
            <p class=""><b>Email:  </b><small>{{lead.email}}</small></p>
            <p class=""><b>Class:  </b><small>{{lead.aTrainingClassName}}</small></p>
            <small>Last Updated: {{lead.modifiedTime | date: 'short'}}</small>
            <fa-icon class="text-success"
                     icon="pen" [routerLink]="['/leads/view',lead.email]" ></fa-icon>
            <fa-icon class="text-success"
                     icon="envelope" [routerLink]="['/client/sendPortalLink',lead.email]" ></fa-icon>
        </div>
  </div>
</div>
</div>
