<h3 class="mt-0 mb-3 pl-3 pb-2 pt-2 text-white border-top border-dark w-100 bg-secondary">VIEW MOCKS</h3>

<div class="container">
<div class="list-group mt-1 p-0" *ngFor="let mock of mocks; let i = index">
  <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div style="height: 5%; background-color: rgba(187, 160, 160, 0.1);" class="p-1 my-auto d-flex justify-content-between">
            <h5 class="h-100 d-inline-block">{{mock.name}}</h5>
            <p class=""><b>Phone:  </b><small>{{mock.phone}}</small></p>
            <p class=""><b>Email:  </b><small>{{mock.email}}</small></p>
            <p class=""><b>Interview Date:  </b><small>{{mock.interviewDate}}</small></p>
            <small>Last Updated: {{mock.modifiedTime | date: 'short'}}</small>
            <fa-icon class="text-success"
                     icon="pen" [routerLink]="['/mocks/view',mock.email]" ></fa-icon>
        </div>
  </div>
</div>
</div>
<!-- <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>E-mail</th>
      <th>Interview Date</th>
      <th>Created Time</th>
      <th>Modification Time</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let mock of mocks">
      <td>{{mock.name}}</td>
      <td>{{mock.phone}}</td>
      <td>{{mock.email}}</td>
      <td>{{mock.interviewDate}}</td>
      <td>{{mock.statusAsOfDay}}</td>
      <td>{{mock.modifiedTime}}</td>
      <button class="btn btn-primary mr-3"
              style="width:80px;"
              type="button"
              [routerLink]="['/mocks/view',mock.email]">Edit
      </button>
    </tr>
    </tbody>
  </table> -->
