<h3 class="mt-0 mb-3 pl-3 pb-2 pt-2 text-white border-top border-dark w-100 bg-secondary">VIEW ALUMNUS</h3>

<div class="container">
<div class="list-group mt-1 p-0" *ngFor="let alumni of alumnus; let i = index">
  <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div style="height: 5%; background-color: rgba(187, 160, 160, 0.1);" class="p-1 my-auto d-flex justify-content-between">
            <h5 class="h-100 d-inline-block">{{alumni.name}}</h5>
            <p class=""><b>Phone:  </b><small>{{alumni.phone}}</small></p>
            <p class=""><b>Email:  </b><small>{{alumni.email}}</small></p>
            <p class=""><b>Placement Status:  </b><small>{{alumni.placementStatus}}</small></p>
            <p class=""><b>Company:  </b><small>{{alumni.companyName}}</small></p>
            <fa-icon class="text-success"
                     icon="pen" [routerLink]="['/alumnus/view',alumni.email]" ></fa-icon>
        </div>
  </div>
</div>
</div>
<!-- <table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>E-mail</th>
    <th>Placement Status</th>
    <th>Company Name</th>
    <th>Employment Type</th>
    <th>Designation</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let alumni of alumnus">
    <td>{{alumni.name}}</td>
    <td>{{alumni.phone}}</td>
    <td>{{alumni.email}}</td>
    <td>{{alumni.placementStatus}}</td>
    <td>{{alumni.companyName}}</td>
    <td>{{alumni.employmentTyp}}</td>
    <td>{{alumni.designation}}</td>
    <button class="btn btn-primary mr-3"
            style="width:80px;"
            type="button"
            [routerLink]="['/alumnus/view',alumni.email]">Edit
    </button>
  </tr>
  </tbody>
</table> -->
