<h3 class="mt-0 mb-3 pl-3 pb-2 pt-2 text-white border-top border-dark w-100 bg-secondary">VIEW RESUMES</h3>

<div class="container">
<div class="list-group mt-1 p-0" *ngFor="let resume of resumes; let i = index">
  <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div style="height: 5%; background-color: rgba(187, 160, 160, 0.1);" class="p-1 my-auto d-flex justify-content-between">
            <h5 class="h-100 d-inline-block">{{resume.name}}</h5>
            <p class=""><b>Phone:  </b><small>{{resume.phone}}</small></p>
            <p class=""><b>Email:  </b><small>{{resume.email}}</small></p>
            <p class=""><b>Start Date:  </b><small>{{resume.resumeStartDate}}</small></p>
            <small>Last Updated: {{resume.modifiedTime | date: 'short'}}</small>
            <fa-icon class="text-success"
                     icon="pen" [routerLink]="['/resumes/view',resume.email]" ></fa-icon>
        </div>
  </div>
</div>
</div>
<!-- <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>E-mail</th>
      <th>Date Started</th>
      <th>Created Time</th>
      <th>Modification Time</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let resume of resumes">
      <td>{{resume.name}}</td>
      <td>{{resume.phone}}</td>
      <td>{{resume.email}}</td>
      <td>{{resume.resumeStartDate}}</td>
      <td>{{resume.statusAsOfDay}}</td>
      <td>{{resume.modifiedTime}}</td>
      <button class="btn btn-primary mr-3"
              style="width:80px;"
              type="button"
              [routerLink]="['/resumes/view',resume.email]">Edit
      </button>
    </tr>
    </tbody>
  </table> -->
