<div class="col-xs-6 col-lg-4">
    <h2>Course</h2>
    <p>... </p>
    <p><a class="btn btn-secondary" [routerLink]="['/courses']"  role="button">View & Edit »</a></p>
</div>
<div class="col-xs-6 col-lg-4">
  <h2>Instructor</h2>
  <p>... </p>
  <p><a class="btn btn-secondary" [routerLink]="['/instructors']"  role="button">View & Edit »</a></p>
</div>
<div class="col-xs-6 col-lg-4">
  <h2>Class</h2>
  <p>... </p>
  <p><a class="btn btn-secondary" [routerLink]="['/classes']"  role="button">View & Edit »</a></p>
</div>
