<form [formGroup]="editForm" (ngSubmit)="onUpdate()" novalidate>
  <div *ngIf="validMessage != ''">
    <h3 class="has-info">{{ validMessage }}</h3>
  </div>


  <div class="form-group">
    <label for="firstName">First Name:</label>
    <input type="text" value="" class="form-control" formControlName="firstName" readonly="true"/>
  </div>

  <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input type="text" value="" class="form-control" formControlName="lastName" readonly="true"/>
  </div>

  <div class="form-group">
    <label for="phone">Phone:</label>
    <input type="text" value="" class="form-control" formControlName="phone" />
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" value="" class="form-control" formControlName="email" />
  </div>

  <div class="form-group">
    <label for="paymentPlan">Payment Plan:</label>
    <input type="text" value="" class="form-control" formControlName="paymentPlan" readonly="true"/>
  </div>

  <div class="form-group">
    <label for="paymentPlanStatus">Payment Plan Status:</label>
    <input type="text" value="" class="form-control" formControlName="paymentPlanStatus" readonly="true"/>
  </div>

  <div class="form-group">
    <label>Intern Status :</label>
    <br/>
      <select class="form-control" formControlName="coopStatus" required>
          <option value="">Please select an intern status</option>
          <option *ngFor="let item of coopStatusList"
                  [value]="item">
                  {{  item }}
          </option>
      </select>
  </div>


   <div class="form-group">
    <label for="coopStartDate">Coop Start Date:</label>
    <input type="text" value="" class="form-control" formControlName="coopStartDate" />
  </div>

   <div class="form-group">
    <label for="coopEndDate">Coop End Date:</label>
    <input type="text" value="" class="form-control" formControlName="coopEndDate" />
  </div>

  <div class="form-group">
    <label for="projectAssigned">Project Assigned:</label>
    <input type="text" value="" class="form-control" formControlName="projectAssigned" />
  </div>

  <div class="form-group">
    <label for="aTrainingClassName">Class Taken:</label>
    <input type="text" value="" class="form-control" formControlName="aTrainingClassName" readonly="true"/>
  </div>



  <div class="form-group">
    <label>Performance:</label>
    <textarea placeholder="" class="form-control" formControlName="performance"></textarea>
  </div>

  <div class="btn-group">
    <button
      type="submit"
      [disabled]="!editForm.valid"> Save
    </button>
    <button
        type="button"
        [routerLink]="['/interns']">Cancel
    </button>
    <button
        type="button"
        title="Delete this intern"
        (click)="onDelete()"> Delete
    </button>
    <button
        type="button"
        title="Change to student"
        (click)="onConvertToResume()"> To Resume
    </button>
  </div>




  <!-- <button class="btn btn-primary mr-3"
            style="width:80px;"
            type="submit"
            [disabled]="!editForm.valid"> Save
  </button>
  <button class="btn btn-outline-secondary mr-3"
            style="width:80px;"
            type="button"
            [routerLink]="['/interns']">Cancel
  </button>
  <button class="btn btn-outline-warning"
            style="width:80px"
            type="button"
            title="Delete this lead"
            (click)="onDelete()"> Delete
  </button> -->



</form>
