<h3 class="mt-0 mb-3 pl-3 pb-2 pt-2 text-white border-top border-dark w-100 bg-secondary">VIEW INTERNS</h3>

<div class="container">
<div class="list-group mt-1 p-0" *ngFor="let intern of interns; let i = index">
  <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div style="height: 5%; background-color: rgba(187, 160, 160, 0.1);" class="p-1 my-auto d-flex justify-content-between">
            <h5 class="h-100 d-inline-block">{{intern.firstName}} {{intern.lastName}}</h5>
            <p class=""><b>Phone:  </b><small>{{intern.phone}}</small></p>
            <p class=""><b>Email:  </b><small>{{intern.email}}</small></p>
            <p class=""><b>Start Date:  </b><small>{{intern.coopStatus}}</small></p>
            <small>Last Updated: {{intern.modifiedTime | date: 'short'}}</small>
            <fa-icon class="text-success"
                     icon="pen" [routerLink]="['/interns/view',intern.email]" ></fa-icon>
        </div>
  </div>
</div>
</div>
<!-- <table class="table table-striped">
  <thead>
  <tr>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Phone</th>
    <th>E-mail</th>
    <th>Intern Status</th>
    <th>Created Time</th>
    <th>Modification Time</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let intern of interns">
    <td>{{intern.firstName}}</td>
    <td>{{intern.lastName}}</td>
    <td>{{intern.phone}}</td>
    <td>{{intern.email}}</td>
    <td>{{intern.coopStatus}}</td>
    <td>{{intern.createdTime}}</td>
    <td>{{intern.modifiedTime}}</td>
    <button class="btn btn-primary mr-3"
            style="width:80px;"
            type="button"
            [routerLink]="['/interns/view',intern.email]">Edit
    </button>
  </tr>
  </tbody>
</table> -->
