<div class="col-xs-6 col-lg-4">
    <h2>Students</h2>
    <p>... </p>
    <p><a class="btn btn-secondary" [routerLink]="['/students']"  role="button">View & Edit »</a></p>
</div>
<div class="col-xs-6 col-lg-4">
  <h2>Interns</h2>
  <p>... </p>
  <p><a class="btn btn-secondary" [routerLink]="['/interns']"  role="button">View & Edit »</a></p>
</div>
<div class="col-xs-6 col-lg-4">
  <h2>Resumes</h2>
  <p>... </p>
  <p><a class="btn btn-secondary" [routerLink]="['/resumes']"  role="button">View & Edit »</a></p>
</div>
<div class="col-xs-6 col-lg-4">
  <h2>Mocks</h2>
  <p>... </p>
  <p><a class="btn btn-secondary" [routerLink]="['/mocks']"  role="button">View & Edit »</a></p>
</div>
<div class="col-xs-6 col-lg-4">
  <h2>Alumnus</h2>
  <p>... </p>
  <p><a class="btn btn-secondary" [routerLink]="['/alumnus']"  role="button">View & Edit »</a></p>
</div>

