<table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Class Name</th>
      <th>Instructor</th>
      <th>Address</th>
      <td>Start Date</td>
      <td>End Date</td>
      <th>ClassFinished</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let class of classes">
      <td>{{class.id}}</td>
      <td>{{class.name}}</td>
      <td>{{class.instructorName}}</td>
      <td>{{class.address}}</td>
      <td>{{class.start}}</td>
      <td>{{class.end}}</td>
      <td>
          <form [formGroup]="editForm" (ngSubmit)="onUpdate(class.id)" novalidate>

             <div class="form-group">
                <label for="finishStatus"></label>
                <input value="class.finishStatus" type="checkbox" formControlName="finishStatus">
            </div>
            <fa-icon type="submit" class="text-success"
                         icon="sync"></fa-icon>
          </form>
      </td>
      <td>
          <fa-icon class="text-success"
                         icon="trash" (click)="onDelete(class.id)"></fa-icon></td>
    </tr>
    </tbody>

  </table>
  <div class="btn-group">
      <button
          type="button"
          [routerLink]="['/addclass']">Add
      </button>
      <button
        type="button"
        (click)="cancel()"> Back
    </button>
  </div>
