<table class="table table-striped">
  <thead>
  <tr>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Phone</th>
    <th>E-mail</th>
    <th>Class Taken</th>
    <th>Created Time</th>
    <th>Modification Time</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of students">
    <td>{{student.firstName}}</td>
    <td>{{student.lastName}}</td>
    <td>{{student.phone}}</td>
    <td>{{student.email}}</td>
    <td>{{student.aTrainingClassName}}</td>
    <td>{{student.createdTime}}</td>
    <td>{{student.modifiedTime}}</td>
    <button class="btn btn-primary mr-3"
            style="width:80px;"
            type="button"
            [routerLink]="['/students/view',student.email]">Edit
    </button>
  </tr>
  </tbody>
</table>
