<table class="table table-striped">
  <thead>
  <tr>
    <th>Payment Id</th>
    <th>Payment Date</th>
    <th>Amount </th>
    <th>Payment Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let payment of payments">
    <td>{{payment.id}}</td>
    <td>{{payment.date}}</td>
    <td>{{payment.amount}}</td>
    <td>{{payment.status}}</td>
    <fa-icon class="text-success"
                     icon="pen" [routerLink]="['./', payment.id]" ></fa-icon>
  </tr>
  </tbody>
  <div class="btn-group">
      <button
          type="button"
          [routerLink]="['/addpayment/user/', userId]">Add
      </button>
      <button
          type="button"
          [routerLink]="['/paymentRecords/user/', userId]">Payment Records
      </button>
      <button
        type="button"
        (click)="cancel()"> Back
    </button>
  </div>
</table>
