
<form [formGroup]="editForm" (ngSubmit)="onAdd()" novalidate>
  <div *ngIf="validMessage != ''">
    <h3 class="has-info">{{ validMessage }}</h3>
  </div>

   <div class="form-group">
    <label>Name:</label>
    <input type="text" value="" class="form-control" id="name" formControlName="name" />
  </div>

   <div class="form-group">
    <label>Username:</label>
    <input type="text" value="" class="form-control" id="username" formControlName="username" />
  </div>

  <div class="form-group">
    <label>Email:</label>
    <input type="text" value="" class="form-control" id="email" formControlName="email" />
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input type="text" value="" class="form-control" formControlName="password" />
    <small *ngIf="editForm.get('password').hasError('required')">Required!</small>
    <small *ngIf="editForm.get('password').hasError('minlength')">Minimum 8 chars</small>
 </div>

 <div class="checkbox-group" style="margin-top:40px">
  <div class="checkbox-wrap" id="postionsContainer">
    <h4>Select positions for the user:</h4>
      <div class="form-group" *ngFor="let position of positionArray;let i=index">
        <input [checked]="position == formData.controls[i]?.value"  type="checkbox" (change)="onChange($event.target.checked, position)"/>
        <label [for]="i"> {{ position }} </label>
      </div>
  </div>
</div>







  <button class="btn btn-primary mr-3"
            style="width:80px;"
            type="submit"
            [disabled]="!editForm.valid"> Add
  </button>



</form>


<!-- <ng-template #loading>
  Loading job information
</ng-template> -->


